::-webkit-scrollbar { 
    display: none; 
}
body{
	background: white;
}

#marginTopPorEncabezado{
	width: 100%;
}

#encabezadoNegocio{
	position: relative;
	width: 100%; 
	overflow: hidden;
	background: white;
}

#fotoPrincipal{
	background: #ededed;
	width: 100%; 
	height: 100%; 
	object-fit: cover;
	object-position: center;
}

#degradado{
	position: absolute;
	bottom: 0; 
	width: 100%;
}

#figurePerfilNegocio{
	position: absolute;
	width: 25%; 
	left: 7%; 
	top: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em; 
}

#fotoPerfil{
	height: 100%; 
	width: 100%;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
	object-position: center;
	object-fit: cover;
	border: 2px solid white;
}

.contenedorLetras{
	margin: 0;
	display: inline-block;
	margin-left: 3%;
	width: 6%;
}

.contenedorLetras2{
	margin: 0;
	display: inline-block;
	width: 65%;
	vertical-align: top;
}

.contenedorLetras3{
	margin: 0;
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border: 1px solid #e61e2b;
	display: inline-block;
	width: 21%;
	text-align: center;
	vertical-align: top;
}

.contenedorLetras2Dir{
	margin: 0;
	display: inline-block;
	width: 58%;
	vertical-align: top;
}

.contenedorLetras3Dir{
	margin: 0;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border: 1px solid #e61e2b;
	display: inline-block;
	width: 28%;
	text-align: center;
	vertical-align: top;
}

.tamañosImg{
	width: 100%;
	
}

.alinearText{
	display: inline;
	margin-left: 4%;
	font-family: GothamBook;
	color: #3c3c3b;
}

.irTodos{
	margin: 0;
	display: inline;
	width: 31%;
	font-family: GothamMedium;
	color: #e61e2b;
	vertical-align: top;
}

.margenesYborder{
	border-bottom: 2px solid #ededed;

}

.diasTexto{
	font-family: GothamBook;
	color: #878787;
	padding: 0 13%;
	margin: 0;
	margin-bottom: 0.2em; 

}

.horaTexto{
	font-family: GothamBook;
	color: #3c3c3b;
	padding: 0 13%; 
	margin-top: 0;
	margin-bottom: .9em; 
}

#irHorarios{
	border:none;
}

.rotateHorarios{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#textoDescriptivo{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 100%; 
	padding: 0 3%;
	margin-top: 0;
	color: #3c3c3b;
	font-family: GothamBook;
	text-align: justify;
}

#lineaDiv{
	position: relative;
	
}

#cuadroMapa{
	width: 100%; 
	position: relative;
}

#mapa{
	position: absolute;
	width: 100%; 
	height: 100%;
}

#sobreponerMapa{
	width: 100%; 
	position: absolute;
	bottom: 0;
	z-index: 2;
}


#direccion{
	width: 100%; 
	position: relative;
	padding:0;
	margin: 0;
	color: #3c3c3b;
	font-family: GothamBook;
}



#botonGaleria{
	display: inline-block;
	width: 44%;
	text-align: center;
	background: #e61e2b;
	color: white;
	margin: 0 auto;
	padding: 0;
	margin-left: 3%;
	font-family: GothamBook;
		border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	cursor: pointer;
}

#botonFacebook{
	display: inline-block;
	width: 44%;
	vertical-align: top;
	text-align: center;
	background: #3b5998;
	color: white;
	margin: 0 auto;
	padding: 0;
	margin-left: 4%;
	font-family: GothamBook;
		border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	cursor: pointer;
}

#cupon{
	position: relative;
	margin: 0;
	padding:0;
}

#figureCupon{
	width: 96%;
	margin: 0 auto;
}

#figureCupon img{
	margin: 0 auto;
	width: 100%;
}

#porcentajeNum{
	position: absolute;
	margin: 0;
	right: 10%;
	top: 0;
	font-family: GothamBlack;
	color: #e61e2b;
}

.fontSizeCero{
	font-size: 0;
}

.leaflet-control-zoom{
	display: none;
}

.leaflet-bottom{
	display: none;
}







