#listaNegocios{
	width: 100%;
	padding-top: 0.5% !important;
/*	padding-top: 15em;
*/}

.cuadroNegocio{
	background: white;
	width: 100%;
	height: 30em;
/*	height: 32.86%; 
*//*	height: 23.66em; 
*/	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	border-bottom: 1px solid #c6c6c6;
	position: relative;
}

.figureNegocio{
	/*width: 19.53em;
	height: 19.53em;*/ 
	/*width: 27.12%; 
	height: 27.12%;*/
/*	padding: 2.77% 0 2.77% 3.4%;
*/	overflow: hidden;
	position: absolute;
}

.figureNegocio img{
	width: 100%;
	height: 100%;
	object-fit: cover; 
	object-position: center;
	overflow: hidden;
}

.identificador{
	background: #e21f21;
	width: 7.4%; 
/*	height: 22.2%; 
*/	padding-top: 1.8%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	color: white;
	font-family: GothamMedium;
	text-align: center; 
	position: absolute;
	top: -.8em;
	left: .2em;
	border-radius: 100em; 
	-webkit-border-radius: 100em;
}

.nombreNegocio{
	position: absolute;
	left: 35%; 
	top: 8%; 
	color: #e21f21;
	font-family: GothamMedium;
}

.descripcion{
	position: absolute;
	left: 35%; 
	top: 1.9em; 
	color: #575756;
	font-family: GothamBook;
}

.distancia{
	position: absolute;
	left: 35%; 
	bottom: 0px; 
	color: rgba(87, 87, 86, 0.69);
	font-family: GothamBook;
}

.nohayNeg{
	text-align: center;
}
.geolocalizacion{
    height: 62px;
    background-color: white !important;
    padding-top: 17%;
}
.desactivado{
	height: 20px;
	margin-top: 3.5%;
	margin-left: 12px;
	border: 1px solid #e61e2b;
	font-family: GothamMedium;
    color: #e61e2b;
    font-size: 12.963px;
    background-color: white;
    border-radius: 0.3em;
    width: 45%;
    text-align: center;
    -webkit-border-radius: 0.45em;
    vertical-align: top;
    display: inline-table;
}
.textoBotonesGeo{
	margin-top: 8px;
    margin-bottom: 7px;
}
.comboDistancias{
	margin-top: 5%;
    display: inline-grid; /*no se si va*/
    width: 41%;
    margin-left: 5%;
    font-family: GothamMedium;
    font-size: 12.963px;
    float: right;
    position: absolute;
    color: transparent;
    background-color: transparent;
    border: none;
    height: 30px;
}
#comboDistancias:focus{
	outline:0px !important;
}
#normalGeo:active{
	background-color: rgba(128, 128, 128, 0.41);
}
#distanciaGeo:active{
	background-color: rgba(128, 128, 128, 0.41);
}
.activado{
	height: 20px;
	margin-top: 3.5%;
	margin-left: 12px;
	border: 1px solid #e61e2b;
	font-family: GothamMedium;
    color: #e61e2b;
    font-size: 12.963px;
    /*background-color: white;*/
    border-radius: 0.3em;
    width: 45%;
    text-align: center;
    -webkit-border-radius: 0.45em;
    vertical-align: top;
    display: inline-table;
	background-color: rgba(128, 128, 128, 0.41);
}
