.fontSizeCero{
	font-size: 0px;
}

#imagenesDifuminadas{
	width: 100%; 
	height: 40.5%;
/*	height: 53.66em; 
*/	overflow: hidden;

}

#imagenesDifuminadas img{
	width: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;

}

#divDegradado{
	width: 100%;
	position: absolute;
	background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,0)), color-stop(0%, rgba(209,209,209,1)), color-stop(100%, rgba(246,246,246,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,0) 0%, rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(226,226,226,0) 0%, rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f6f6f6', GradientType=0 );

}

#logotipo{
	width: 40%;
	margin: -29% auto 0 auto;
	z-index: 7;
	/*margin: -21em auto 0 auto;*/
}

#logotipo img{
	position: absolute;
	width: 40%; 
	z-index: 7;
}

#formPrincipal{
	margin: 36.33% auto 6.33% auto;
	/*margin: 6em auto 10em auto;*/
	width: 84.25%; 
}

#busquedaNegocio{
	width: 100%; 
	background: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: .33em; 
	-webkit-border-radius: .33em; 
	-moz-border-radius: .33em; 
	-o-border-radius: .33em; 
	-ms-border-radius: .33em; 
	box-shadow: .2em .2em .1em #c6c6c6;
	-webkit-box-shadow: .2em .2em .1em #c6c6c6;
	-moz-box-shadow: .2em .2em .1em #c6c6c6;
	-ms-box-shadow: .2em .2em .1em #c6c6c6;
	-o-box-shadow: .2em .2em .1em #c6c6c6;
/*	padding: 1.66% 1.11% 1.11% 4.16%;
*/	padding: 1.2em .8em .8em 3em;
	font-family: GothamMedium;
	border: none;
	outline: none;
	color: #3c3c3b;
	background-image: url(../../objetos/generales/lupa.png);
    background-repeat: no-repeat;
    background-size: 1.4em;
    background-position: 1em 1em;
}

#filaUno{
	width: 100%; 
}

#filaDos{
	width: 100%;
}

#padreFilaDos{
	margin-top: 6.33%;
	/*margin-top: 6em;*/
	/*margin-bottom: 15em;*/
	/*margin-bottom: 20.8%;*/
}

.figureAccesosDirectos{
	display: inline-block;
	width: 35%; 
	text-align: center;
	font-family: GothamBook;
}

.figureAccesosDirectos img{
	/*width: 10em;
	height: 10em;*/
	width: 45%; 
	height: 45%; 
}

#segundaImagenFilaUno{
	width: 30%;
}

#segundaImagenFilaDos{
	width: 30%;
}

/*CAMBIAR EL COLOR DEL PLACEHOLDER

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: {
  	color: #3c3c3b;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3c3c3b;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3c3c3b;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3c3c3b;
}