#fotosCompletas{
	position: relative;
	width: 100%; 
	height: 100%; 
}

.figureFoto{
	width: 100%; 
	background: black;
	border-bottom: 0.8em solid black; 
}

.figureFoto img{
	width: 100%; 
	height: 100%; 
	object-fit: cover;
	object-position: center;
}