#cubrePantallaSiNo{
	background:  rgba(0, 0, 0, 0.7);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 1001;
}

#cuadroCentradoSiNo{
	width: 77%; 
	left: 11.5%;
	background: white;
	border-radius:  2em; 
	-webkit-border-radius:  2em; 
	-moz-border-radius:  2em;  
	-o-border-radius:  2em;  
	-ms-border-radius:  2em; 
	position: fixed;
	z-index: 1002;
}

#tituloSiNo{
	text-align: center;
	width: 80%;
	color: #1d1d1b;
	margin: 0 auto;
	font-family: GothamMedium;
	border-bottom: 1px solid #c6c6c6;
}

.textoSiNo{
	margin: 0;
	width: 50%;
	display: inline-block;
	text-align: center; 
	color: #1d1d1b;
	font-family: GothamBook;
}