#menu{
	position: fixed; 
	width: 11.11%;
	left: 3.47%;
	/*width: 8em; 
	left: 2.5em; 
	top: 6.2em;*/
	z-index: 1000;
}

#menu img{
	width: 100%; 
	height: 100%; 
}

#cubrePantalla{
	background:  rgba(0, 0, 0, 0.7);
	height: 100%;
	position: fixed;	
	width: 100%;
	z-index: 1001;
}

#menuBarraLateralPadre{
	width: 70%; 
	height: 100%; 
	background: white;
	z-index: 1001; 
	position: fixed;
}

#menuBarraLateral{
	width: 100%; 
}

#encabezadoMenu{
	/*padding-top: 3.5em;*/
	width: 100%;
	height: 29.75%;
	padding-top: 6.94%;
	padding-bottom: 4.94%;
	/*height: 15em;*/ 
	background: #e61e2b; 
	/*box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;*/
}

#menuFigureLogo{
	width: 21.85%;
/*	width: 8.5em; 
*/	margin: 0 auto; 
	overflow: hidden;
}

#menuFigureLogo img{
	width: 100%; 
}

#primerEscalonBuscar{
	padding-top: 11.9%;
}

.escalonesMenu{
	position: relative;
	width: 100%; 
	/*padding-top: 6em;*/
	padding-top: 5.9%;
	padding-bottom: 5.9%;
	
}

.figureMenu{
	vertical-align: top;
	/*width: 4em; */
	width: 7.92%;
	display: inline-block;
	/*padding-left: 2.5em;*/
	padding-left: 4.95%;
}

.figureMenu img{
	width: 100%; 
	height: 100%; 
}

#ciudadImagenMenu {
	padding-left: 3.8%;
	width: 8.3%;
}

#ciudadImagenMenu img{
	width: 120%;
}

.textoEscalones{
	vertical-align: top;
	font-family: GothamBook;
	color: black;
	display: inline-block;
	margin: 0;
	padding: 0;
	/*padding-top: .2em;*/
	padding-top: 1.05%;
	/*padding-left: .75em;*/
	padding-left: 3.95%;
}

/*ESTE CÓDIGO ES PARA EL MENU EN LOGIN*/

#logoPerfil{
	/*width: 7.5em; */
	width: 14.87%;
	/*margin: .3em 0 0 5em; */
	margin: 0.58% 0 0 9.91%;
	display: inline-block;
	vertical-align: top; 
	border-radius: 200em; 
	-webkit-border-radius: 200em; 
	-moz-border-radius: 200em; 
	-o-border-radius: 200em; 
	-ms-border-radius: 200em; 

}

#logoPerfil img{
	width: 100%; 
	height: 100%; 
	border-radius: 200em; 
	-webkit-border-radius: 200em; 
	-moz-border-radius: 200em; 
	-o-border-radius: 200em; 
	-ms-border-radius: 200em; 
}

#logoPerfil img{
	object-fit: cover;
	object-position: center;
}

.nombreNegocioMenuHamburguesa{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0; 
	color: white;
	font-family: GothamBook;
	margin: 5.2% 0 0 8.98%;
	/*margin: 1em 0 0 1.7em;*/
}

#lateralDrag{
	position: fixed;

	width: 10%;
	height: 100%;
	z-index: 1002;
}

#dragLateralCompleto{
	display: none;
	position: fixed;
	width: 70%;
	height: 100%;
	background: pink;
	z-index: 998;
}



