.docePixeles{
	font-size: 12px;
}

.trecePixeles{
	font-size: 13px;
}

.catorcePixeles{
	font-size: 14px;
}

.quincePixeles{
	font-size: 15px;
}

.dieciseisPixeles{
	font-size: 16px;
}

.diecisietePixeles{
	font-size: 17px;
}

.dieciochoPixeles{
	font-size: 18px;
}

.diesinuevePixeles{
	font-size: 19px;
}

.veintePixeles{
	font-size: 20px;
}

.veintiunPixeles{
	font-size: 21px;
}

.veintidosPixeles{
	font-size: 22px;
}

.veinticincoPixeles{
	font-size: 25px;
}

.veintisietePixeles{
	font-size: 27px;
}

.treintaYDosPixeles{
	font-size: 32px;
}

.treintaYCincoPixeles{
	font-size: 35px;
}

.cuarentaPixeles{
	font-size: 40px;
}

.cuarentaYDosPixeles{
	font-size: 42px;
}
.cuarentaYCincoPixeles{
	font-size: 45px;
}
.cincuentaPixeles{
	font-size: 50px;
}
.cincuentaYCincoPixeles{
	font-size: 55px;
}

.cincuentaYSietePixeles{
	font-size: 57px;
}

.doscientosPixeles{
	font-size: 220px;
}