#publicar{
	width: 11.11%;
	height: 11.11%; 
	/*width: 8em;
	height: 8em; */
	position: fixed;
	/*bottom: 3em; 
	right: 3em;*/
	bottom: 2.16%;
	right: 4.16%;
	z-index: 10;
}

#publicar img{
	width: 100%
}

#actualizarFotos{

}



#figureSubirFotoPortada{
	background:  rgba(0, 0, 0, 0.7);
	height: 6.11%;
	opacity: 0;
	position: fixed;
	bottom: 7.16%;
	right: 4.16%;
	width: 11.11%;
	z-index: 11;

}

#inputSubirFotoPortada{
	height: 100%;
	opacity: 0;
	bottom: 2.16%;
	right: 4.16%;
	width: 100%;
}