::-webkit-scrollbar { 
    display: none; 
}
#cancelar{
	position: absolute;
	left: 8%;
	display: inline-block;
	font-family: GothamMedium;
	color: #009fe3;
	vertical-align: top;
	margin: 0;
}

#titulo{
	width: 100%; 
	text-align: center;
	display: inline-block;
	font-family: GothamMedium;
	color: #1d1d1b;
	vertical-align: top;
	margin: 0;
}

#aceptar{
	position: absolute;
	right: 8%;
	display: inline-block;
	font-family: GothamMedium;
	color: #9d9d9c;
	vertical-align: top;
	margin: 0;
}

#editarFotos{
	width: 100%; 
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	background: white;
}

#principalImg{
	width: 100%; 
	height: 100%; 
	
}

#editarFotos img{
	width: 100%;
	object-position: center;
	object-fit: cover; 
}

#coverPrincipal{
	width: 100%; 
	height: 100%;
	position: absolute;
	top: 0;
}

#coverPrincipal img{
	width: 100%;
	object-position: center;
	object-fit: cover;
}

/*DESDE AQUÍ*/
#editarFotoPerfil{
	position: absolute; 
	z-index: 3;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-o-border-radius: 10%;
	-ms-border-radius: 10%;
}

#editarFotoPerfil{
	height: 100%; 
	object-position: center;
	object-fit: cover;
	width: 100%; 
}

#editarFotoPerfil img{
	width: 100%;
	height: 100%;
}

#perfilCover{
	position: absolute;
	z-index: 4;
	border: 2px solid white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-o-border-radius: 10%;
	-ms-border-radius: 10%;
}

#perfilCover img{
	width: 100%;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-o-border-radius: 10%;
	-ms-border-radius: 10%;
}


.inputCambiarPassMail{
	font-family: GothamBook;
	background: none;
	width: 96%; 
	text-align: left; 
	outline: none;
	padding: .9em 0 .7em 1em;
	border: none;
	border-bottom: 1px solid #c6c6c6;
	color: #1d1d1b;
}

.textEditNegocio{
	font-family: GothamMedium;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	width: 28%;
	color: #3c3c3b;
}

#estadociduad{
	font-family: GothamBook;
	color: #9d9d9c; 
	width: 50%;
}

.inputEditNegocio{
	width: 67%;
	font-family: GothamBook;
	outline: none;
	background: none;
	border: none;
	color: #9d9d9c; 
}

#editarPalabrasClave{
	border-bottom: 1px solid #c6c6c6;	
	resize: none;
}

#horarioEdit{
	display: block;
}

.checkHorario{
	display: inline-block;
	outline: none;
	background: none;
	width: 2em;
	height: 2em;
	border: 1px solid #c6c6c6;	
	border-radius: 100em;
	-webkit-border-radius: 100em;
	-moz-border-radius: 100em;
	-o-border-radius: 100em;
	-ms-border-radius: 100em;
	margin-bottom: 0em;
	padding-bottom: 0em;
	margin-top: .5em;
	padding-top: 0em;
}

.palomitaCuadro{
	width: 70%;
	margin-left: 15%;
	margin-top: .3em;
}

.inputHoraNegocio{
	vertical-align: top;
	margin-left: 4%; 
	display: inline-block;
	outline: none;
	background: none;
	width: 23%;
	font-family: GothamBook;
	color: #3c3c3b; 
	border: 1px solid #c6c6c6;	
	padding: .53em 0 .35em 1em;
	margin-top: .43em;
}

.palabraHora{
	vertical-align: top;
	display: inline-block;
	width: 20%;
	margin-left: .3em;
}

#barraCompleta{
	width: 28%;
	margin-top:-1em; 
	position: absolute;
	background: white;
	overflow-y: scroll;
	z-index: 10;
	height: 0;
}

.escalonesHoras{
	cursor: pointer;
}

.horasElegir{
	opacity: 0;
	margin-left: 10%;

}

#seleccionarUbicacion{
	width: 92%;
	text-align: center;
	background: #3c3c3b;
	color: white;
	margin: 0 auto;
	padding: 0;
	font-family: GothamBook;
		border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	cursor: pointer;
	padding: .05em 0 .05em 0;
	margin-bottom: .1em;
}

#botonGaleria{
	width: 92%;
	text-align: center;
	background: #e61e2b;
	color: white;
	margin: 0 auto;
	padding: 0;
	font-family: GothamBook;
		border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	cursor: pointer;
	padding: .05em 0 .05em 0;
}

#irCiudad{
	display: inline-block;
	width: 6%;
	padding: 0;
	margin: 0;
	margin-left: 9%;
}

.irCit{
	width: 100%;
	font-family: GothamMedium;
	color: #e21f21;
	vertical-align: top;
}

#contenedorUbicacion{
	position: relative;
	padding-left: 0;
	width: 100%;
}

#contenedorGaleria{
	padding-left: 0;
	width: 100%;
}

#contenedormapita{
	position: relative;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}

#mapita{

	margin: 0 auto;
	width: 92%;
	height:100%;
	z-index: 1;
}

#contenedormapa{
	position: fixed;
	width: 100%;
	height:100%;
	z-index: 10;
}

#sobreponerMapa{
	width: 100%; 
	position: absolute;
	z-index: 2;
}

.leaflet-control-zoom{
	display: none;
}

#mapa{

	width: 100%;
	height:100%;
	z-index: 10;

}

#botonSelec{
	width: 100%;
    z-index: 11;
    height: 10%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#botonSelP{
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 1em;
	font-family: GothamBook;
	width: 80%;
	padding-bottom: 1em;
	background: #3c3c3b;
		border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}