.fontSizeCero{
	font-size: 0px;
}

#imagenesDifuminadas{
	width: 100%; 
	height: 40.5%;
	overflow: hidden;
}

#imagenesDifuminadas img{
	width: 100%; 
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

#divDegradado{
	width: 100%;
	position: absolute;
	background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,0)), color-stop(0%, rgba(209,209,209,1)), color-stop(100%, rgba(246,246,246,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,0) 0%, rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,0) 0%, rgba(246,246,246,0.8) 100%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(226,226,226,0) 0%, rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f6f6f6', GradientType=0 );

}

#logotipo{
	width: 38%;
	margin: -29% auto 0 auto;
	z-index: 7;
}

#logotipo img{
	position: absolute;
	width: 40%; 
	z-index: 7;
}

#formRegistrarNegocio{
	margin: 36.33% auto 6.33% auto;
	width: 84.25%; 
}

.inputRegistrarNegocio{
	width: 100%; 
	background: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: .33em; 
	-webkit-border-radius: .33em; 
	-moz-border-radius: .33em; 
	-o-border-radius: .33em; 
	-ms-border-radius: .33em; 
	box-shadow: .2em .2em .1em #c6c6c6;
	-webkit-box-shadow: .2em .2em .1em #c6c6c6;
	-moz-box-shadow: .2em .2em .1em #c6c6c6;
	-ms-box-shadow: .2em .2em .1em #c6c6c6;
	-o-box-shadow: .2em .2em .1em #c6c6c6;
	padding: 1.1em .8em .8em 1.2em;
	font-family: GothamMedium;
	border: none;
	outline: none;
	color: #3c3c3b;
	margin-bottom: 1em;
}

#registrarNegocio{
	color: white;
	background: #3c3c3b;
}