#formBusquedaLogout{
	/*padding: 4em 0 2.2em 11.2em;*/
	padding: 3.05% 0 3.05% 15.55%;
	margin: 0 auto;
	width: 100%; 
	background: #e61e2b;
	text-align: center;
	position: fixed;
	z-index: 100;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#busquedaNegocio{
	width: 94%; 
	background: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border-radius: .33em; 
	-webkit-border-radius: .33em; 
	-moz-border-radius: .33em; 
	-o-border-radius: .33em; 
	-ms-border-radius: .33em; 
/*	font-size: 45px;
*/	/*padding: 1em .8em .8em 3em;*/
	padding: 4.16% 3.33% 3.33% 12.5%;
	font-family: GothamMedium;
	border: none;
	outline: none;
	color: #3c3c3b;
	background-image: url(../../objetos/generales/lupa.png);
    background-repeat: no-repeat;
    background-size: 1.4em;
    background-position: 1em .8em;
}

/*CAMBIAR EL COLOR DEL PLACEHOLDER*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3c3c3b;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3c3c3b;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3c3c3b;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3c3c3b;
}