#cancelar{
	position: absolute;
	left: 8%;
	display: inline-block;
	font-family: GothamMedium;
	color: #009fe3;
	vertical-align: top;
	margin: 0;
}

#titulo{
	width: 100%; 
	text-align: center;
	display: inline-block;
	font-family: GothamMedium;
	color: #1d1d1b;
	vertical-align: top;
	margin: 0;
}

#aceptar{
	position: absolute;
	right: 8%;
	display: inline-block;
	font-family: GothamMedium;
	color: #9d9d9c;
	vertical-align: top;
	margin: 0;
}

#contrasenaActual, #nuevoCorreo{
	border-top: 1px solid #c6c6c6;
}


.inputCambiarPassMail{
	font-family: GothamBook;
	background: none;
	width: 100%; 
	text-align: left; 
	outline: none;
	padding: 3.2% 1% 2.5% 4%;
	border: none;
	border-bottom: 1px solid #c6c6c6;
	color: #1d1d1b;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}