body{
    background: white;
}
#listaCiudades{
    width: 100%;
    padding-top: 16.6%;
    background: white;
    margin-bottom: 10%;
}
#barraSuperior{
    padding: 2% 0 2% 0;
    margin: 0 auto;
    width: 100%;
    background: #e61e2b;
    text-align: center;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-align: center;
}
.textBarra{
    margin: 0 auto;
    width: 100%;
    padding-top: 4.16%;
    padding-bottom: 3.33%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    color: white;
    font-family: GothamMedium;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.estado{
    padding: 0;
    padding-top: 7%;
    padding-left: 7%;
    color: #e21f21;
    font-family: GothamMedium;
}
.ciudad{
    padding-top: 7%;
    padding-left: 13%;
    color:#878787;
    font-family: GothamBook;
    cursor: pointer;
}