#cancelar{
	position: absolute;
	left: 8%;
	display: none;
	font-family: GothamMedium;
	color: #009fe3;
	vertical-align: top;
	margin: 0;
}

#titulo{
	width: 100%; 
	text-align: center;
	display: inline-block;
	font-family: GothamMedium;
	color: #1d1d1b;
	vertical-align: top;
	margin: 0;
}

#aceptar{
	position: absolute;
	right: 8%;
	display: inline-block;
	font-family: GothamMedium;
	color: #009fe3;
	vertical-align: top;
	margin: 0;
}

#publicar{
	width: 11.11%;
	height: 11.11%; 
	/*width: 8em;
	height: 8em; */
	position: fixed;
	/*bottom: 3em; 
	right: 3em;*/
	bottom: 2.16%;
	right: 4.16%;
	z-index: 10;
}

#publicar img{
	width: 100%;
}

#borrarIm{
	width: 11.11%;
	height: 11.11%; 
	/*width: 8em;
	height: 8em; */
	position: fixed;
	/*bottom: 3em; 
	right: 3em;*/
	bottom: 2.16%;
	left: 4.16%;
	z-index: 10;
}

#borrarIm img{
	width: 100%;
}

#imagenesCompletas{
	width: 100%;
	margin: 0;
	padding: 0;
}

#todasImg{
	width: 100%;
	margin: 0;
	padding: 0;
}

.tresImagenes{
	margin: 0;
	padding: 0;
	margin-top: .3em;
	width: 100%;
	
	
}

.figureFoto{
	margin: 0;
	padding: 0;
	margin-left: .50%;
	display: inline-block;
	width: 32.68%;
	height: 100%;
	z-index: 2;
}

.figureFoto img{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.figureFotoDelante{
	position: absolute;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 32.68%;
	z-index: 0;
	background: grey;
	opacity: .5;
	display: none;
}

.figureFotoDelante img{
	width: 23%;
	height: 23%;
	margin-left: 41%;
}